.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }
  
  @media (min-width: 1024px) {
    .heroContainer {
      flex-direction: row;
    }
  }
  
  .content {
    padding: 3rem 2rem;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .content {
      padding: 5rem 4rem;
    }
  }
  
  @media (min-width: 1024px) {
    .content {
      padding: 7rem 8rem;
      text-align: left;
    }
  }
  
  .heading {
    color: white;
    font-weight: 800;
    font-size: 1.875rem;
    font-family: sans-serif;
  }
  
  @media (min-width: 768px) {
    .heading {
      font-size: 2.25rem;
    }
  }
  
  @media (min-width: 1024px) {
    .heading {
      font-size: 3rem;
    }
  }
  
  .description {
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
  }
  
  @media (min-width: 768px) {
    .description {
      margin-top: 1.25rem;
      font-size: 1.125rem;
    }
  }
  
  .button {
    background-color: #d72307;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .imageContainer {
    padding: 2rem;
  }
  
  @media (min-width: 768px) {
    .imageContainer {
      padding: 4rem;
    }
  }
  
  .image {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center;
    background-image: url('/pic2.jpg');
  }
  
  @media (min-width: 768px) {
    .image {
      width: 250px;
      padding-top: 0;
      height: 250px;
    }
  }
  
  @media (min-width: 1024px) {
    .image {
      width: 400px;
      height: 400px;
    }
  }
  